body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn_gridSize, .btn_clear {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #8fa3a1;
    background-color: #8fa3a1;
    color: #ffffff;
}

.btn_gridSize:hover, .btn_clear:hover {
    background-color: #ffffff;
    color: #8fa3a1;
}

.grid {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #8fa3a1 ;
    background-color: #8fa3a1 ;
    gap: 1px;
    margin-bottom: 10px;
}

.row {
    display: flex;
    justify-content: space-evenly;
    background-color: #8fa3a1 ;
    gap: 1px;
}